.form{
    width: 300px;
    height: 157px;
    background: #1f2125c9;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    position: absolute;
    top: 58px;
    right: 5%;
    overflow: hidden;
    transition: .4s;
    padding: 5px 0 15px;
    z-index: 1;
}
.back{

    width: 80%;
    overflow: hidden;
    display: none;
    justify-content: flex-start;
    cursor: pointer;
    position: absolute;
    top: -7px;
    left: 0;

}
.back span{
    background: #000;
    color: white;
    font-size: 25px;
    padding: 0 7px;
}
span:hover .back{
    width: 100px;
}
.form input{
    padding: 5px;
    width: 80%;
    margin: 10px 0 0 0;
    border-bottom: solid 3px #e69010;
    font-weight: 500;
    background: none;
    color: #e6e6e6;
}
.form h1{
    width: 80%;
    margin-top: 10px;
    color: #e69010;
    pointer-events: none;
}
.gender{
    display: flex;
    width: 80%;
    align-items: center;
    padding: 10px 0 0 0;
    justify-content: space-evenly;
}
.gender #male,#female{
    display: flex;
    margin: 0;
    color: #fefefe;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
}
.form img {
    margin: 8px 0;
}
.form input[type=file] {
    display: none;
}
.form .no {
    justify-content: center;
    display: flex;
    background: rgb(230, 144, 16);
    color: rgb(41, 42, 46);
    font-weight: bolder;
    font-size: 17px;
    margin: 17px 0 0 0;
    border-radius: 7px;
}
.form .birth-date{
    width: 80%;
}
.form .birth-date input{
    width: 31%;
    text-align: center;
}
.form .radio{
    width: 16px;
    height: 16px;
    border: 2px solid #e9900d;
    border-radius: 50%;
    margin-right: 5px;
    position: relative;
}

.radio.checked::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: 8px;
    height: 8px;
    background: #e9900d;
    border-radius: 50%;

}